{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Expense Tracker</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <!-- NAVBAR -->
    <nav class="navbar">
        <div class="logo">
            ExpenseTracker
        </div>

        <div class="nav-links">
            <a href="#">Home</a>
            <a href="#">Dashboard</a>
            <a href="#">Login</a>
        </div>
    </nav>


    <!-- HERO SECTION -->
    <section class="hero">

        <div class="hero-content">
            <h1>
                Track Your Expenses Smarter
            </h1>

            <p>
                Manage your spending, analyze trends,
                and stay financially organized with
                beautiful insights and analytics.
            </p>

            <button>
                Get Started
            </button>
        </div>

        <div class="hero-card">

            <div class="card">
                <h3>Total Spent</h3>
                <h2>₹12,450</h2>
            </div>

            <div class="card">
                <h3>Monthly Budget</h3>
                <h2>₹20,000</h2>
            </div>

            <div class="card">
                <h3>Top Category</h3>
                <h2>Food 🍔</h2>
            </div>

        </div>

    </section>

</body>
</html>