{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Expense Tracker</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <!-- NAVBAR 
    <nav class="navbar">
        <div class="logo">
            ExpenseTracker
        </div>

        <div class="nav-links">
            <a href="#">Home</a>
            <a href="#">Dashboard</a>
            <a href="#">Login</a>
        </div>
    </nav>
-->


    <!-- HERO SECTION -->
    <!-- HERO SECTION -->

<section class="hero">

    <!-- LEFT CONTENT -->

    <div class="hero-content">

        <h1>
            Track Your Expenses Smarter
        </h1>

        <p>
            Manage your spending, analyze financial habits,
            and stay organized with powerful insights and
            beautiful analytics.
        </p>

        <a href="{% url 'login' %}">
            <button>
                Get Started
            </button>
        </a>

    </div>


    <!-- RIGHT PANEL -->

    <div class="hero-right">

        <div class="grid-bg"></div>

        <div class="floating-cards">

            <div class="card card1">
                <h3>Total Spent</h3>
                <h2>₹12,450</h2>
            </div>

            <div class="card card2">
                <h3>Monthly Budget</h3>
                <h2>₹20,000</h2>
            </div>

            <div class="card card3">
                <h3>Top Category</h3>
                <h2>Food 🍔</h2>
            </div>

        </div>

    </div>

</section>

</body>
</html>